@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply relative leading-6 tracking-tight text-white transition-colors duration-300 ease-in-out hover:text-neutral-1;
  }

  .button {
    @apply flex items-center gap-1 rounded border border-primary bg-accent px-8 py-4 text-sm text-white transition-all duration-300 hover:scale-90 hover:bg-accent-dark;
  }
}

:root {
  --background: #1a1a1b;
  --foreground: #171717;

  --color-primary: #1a1a1b;
  --color-secondary: #54595f;
  --color-accent: #3d754e;
  --color-accent-darker: #06481a;
  --color-neutral-1: #b1aeae;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
